# Enable rewrite engine
RewriteEngine On

# Set the base directory
RewriteBase /

# Redirect requests to the public folder
RewriteCond %{REQUEST_URI} !^/public
RewriteRule ^(.*)$ public/$1 [L]

# Prevent directory listing
Options -Indexes